<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>xiaochengxu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyPatientServlet</servlet-name>
    <servlet-class>servlet.MyPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPatientServlet</servlet-name>
    <url-pattern>/MyPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterProcess</servlet-name>
    <servlet-class>servlet.AlterProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterProcess</servlet-name>
    <url-pattern>/AlterProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendLinkServlet</servlet-name>
    <servlet-class>servlet.SendLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendLinkServlet</servlet-name>
    <url-pattern>/SendLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendQuestionServlet</servlet-name>
    <servlet-class>servlet.SendQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendQuestionServlet</servlet-name>
    <url-pattern>/SendQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PloginServlet</servlet-name>
    <servlet-class>servlet.PloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PloginServlet</servlet-name>
    <url-pattern>/PloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyQuestionServelt</servlet-name>
    <servlet-class>servlet.MyQuestionServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQuestionServelt</servlet-name>
    <url-pattern>/MyQuestionServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyLinkServelt</servlet-name>
    <servlet-class>servlet.MyLinkServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLinkServelt</servlet-name>
    <url-pattern>/MyLinkServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterPwdServlet</servlet-name>
    <servlet-class>servlet.AlterPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterPwdServlet</servlet-name>
    <url-pattern>/AlterPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QAServlet</servlet-name>
    <servlet-class>servlet.QAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QAServlet</servlet-name>
    <url-pattern>/QAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QADetailServlet</servlet-name>
    <servlet-class>servlet.QADetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QADetailServlet</servlet-name>
    <url-pattern>/QADetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAnswerServlet</servlet-name>
    <servlet-class>servlet.MyAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAnswerServlet</servlet-name>
    <url-pattern>/MyAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGServlet</servlet-name>
    <servlet-class>servlet.PGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGServlet</servlet-name>
    <url-pattern>/PGServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGDetailServlet</servlet-name>
    <servlet-class>servlet.PGDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGDetailServlet</servlet-name>
    <url-pattern>/PGDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGSubmitServlet</servlet-name>
    <servlet-class>servlet.PGSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGSubmitServlet</servlet-name>
    <url-pattern>/PGSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>servlet.MyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageServlet</servlet-name>
    <url-pattern>/MyPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QADeleteServlet</servlet-name>
    <servlet-class>servlet.QADeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QADeleteServlet</servlet-name>
    <url-pattern>/QADeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGDeleteServlet</servlet-name>
    <servlet-class>servlet.PGDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGDeleteServlet</servlet-name>
    <url-pattern>/PGDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZanServlet</servlet-name>
    <servlet-class>servlet.ZanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZanServlet</servlet-name>
    <url-pattern>/ZanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ACTStartServlet</servlet-name>
    <servlet-class>servlet.ACTStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ACTStartServlet</servlet-name>
    <url-pattern>/ACTStartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailStartServlet</servlet-name>
    <servlet-class>servlet.DetailStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailStartServlet</servlet-name>
    <url-pattern>/DetailStartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailOneServlet</servlet-name>
    <servlet-class>servlet.DetailOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailOneServlet</servlet-name>
    <url-pattern>/DetailOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailTwoServlet</servlet-name>
    <servlet-class>servlet.DetailTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailTwoServlet</servlet-name>
    <url-pattern>/DetailTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentTwoServlet</servlet-name>
    <servlet-class>servlet.CommentTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentTwoServlet</servlet-name>
    <url-pattern>/CommentTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RelativeServlet</servlet-name>
    <servlet-class>servlet.RelativeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelativeServlet</servlet-name>
    <url-pattern>/RelativeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyQAServelt</servlet-name>
    <servlet-class>servlet.MyQAServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQAServelt</servlet-name>
    <url-pattern>/MyQAServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QASubmitServlet</servlet-name>
    <servlet-class>servlet.QASubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QASubmitServlet</servlet-name>
    <url-pattern>/QASubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BindServlet</servlet-name>
    <servlet-class>servlet.BindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BindServlet</servlet-name>
    <url-pattern>/BindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessServlet</servlet-name>
    <servlet-class>servlet.ProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessServlet</servlet-name>
    <url-pattern>/ProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>servlet.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IFStartServlet</servlet-name>
    <servlet-class>servlet.IFStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IFStartServlet</servlet-name>
    <url-pattern>/IFStartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ACTTStartServlet</servlet-name>
    <servlet-class>servlet.ACTTStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ACTTStartServlet</servlet-name>
    <url-pattern>/ACTTStartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IFACTServlet</servlet-name>
    <servlet-class>servlet.IFACTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IFACTServlet</servlet-name>
    <url-pattern>/IFACTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOneServlet</servlet-name>
    <servlet-class>servlet.UpdateOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOneServlet</servlet-name>
    <url-pattern>/UpdateOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ACTServlet</servlet-name>
    <servlet-class>servlet.ACTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ACTServlet</servlet-name>
    <url-pattern>/ACTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterPPwdServlet</servlet-name>
    <servlet-class>servlet.AlterPPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterPPwdServlet</servlet-name>
    <url-pattern>/AlterPPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchQAServlet</servlet-name>
    <servlet-class>servlet.SearchQAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchQAServlet</servlet-name>
    <url-pattern>/SearchQAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnswerDetailServlet</servlet-name>
    <servlet-class>servlet.AnswerDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerDetailServlet</servlet-name>
    <url-pattern>/AnswerDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyQADetailServlet</servlet-name>
    <servlet-class>servlet.MyQADetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQADetailServlet</servlet-name>
    <url-pattern>/MyQADetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/ReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeforeServelt</servlet-name>
    <servlet-class>servlet.BeforeServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeServelt</servlet-name>
    <url-pattern>/BeforeServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeforeSubmitServlet</servlet-name>
    <servlet-class>servlet.BeforeSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeSubmitServlet</servlet-name>
    <url-pattern>/BeforeSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterServelt</servlet-name>
    <servlet-class>servlet.AfterServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterServelt</servlet-name>
    <url-pattern>/AfterServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterSubmitServlet</servlet-name>
    <servlet-class>servlet.AfterSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterSubmitServlet</servlet-name>
    <url-pattern>/AfterSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeforeIfServelt</servlet-name>
    <servlet-class>servlet.BeforeIfServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeIfServelt</servlet-name>
    <url-pattern>/BeforeIfServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeforeStartServelt</servlet-name>
    <servlet-class>servlet.BeforeStartServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeStartServelt</servlet-name>
    <url-pattern>/BeforeStartServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterIfServelt</servlet-name>
    <servlet-class>servlet.AfterIfServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterIfServelt</servlet-name>
    <url-pattern>/AfterIfServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterStartServelt</servlet-name>
    <servlet-class>servlet.AfterStartServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterStartServelt</servlet-name>
    <url-pattern>/AfterStartServelt</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
</web-app>